:root {
    --color-white: #ffffff;
    --color-gray-100: #d0d0d0;
    --color-gray-200: #c0c0c0;
    --color-gray-300: #b8b8b8;
    --color-gray-400: #a9a9a9;
    --color-gray-500: #707070;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
}

.page {
    width: 100%;
    height: 100%;
}

.page_container {
    margin: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:link,
a:visited {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

#navBar {
    position: fixed;
    top: 16px;
    width: 100%;
    min-width: 980px;
    z-index: 103;
}

#navR {
    float: right;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

#navRlinks {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

#imageL {
    padding: 15px;
}

#GApps {
    display: inline-block;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position-x: -132px;
    background-position-y: -38px;
    border-radius: 2px;
    opacity: 0.55;
    cursor: pointer;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

#signin {
    padding-left: 15px;
    display: inline-block;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    cursor: default;
    color: #ffffff;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    border-radius: 2px;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 15px;
}

.navi-links {
    cursor: pointer;
    color: #000000;
    opacity: 0.75;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.navi-links:hover {
    text-decoration: underline;
}

.main {
    text-align: center;
    margin-top: 30px;
    flex: 1;
}

.main_hero {
    padding-top: 109px;
}

.main_input {
    margin-top: 30px;
    position: relative;
}

.main_form {
    max-width: 584px;
    margin: 0 auto;
}

.form_group {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 16px;
}

.form_group:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.form_logo--search {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
}

.form_logo--search svg {
    height: 20px;
    width: 20px;
    fill: var(--color-gray-400);
}

.form_input {
    height: 100%;
    flex: 1;
}

.form_input input {
    outline: none;
    border-width: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin-top: -3px;
    color: #101010;
}

.form_logo--mic {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
}

.form_logo--mic svg {
    height: 24px;
    width: 24px;
}

.main_submit {
    margin-top: 25px;
}

.main_submit button {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.main_submit button:hover {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 13px;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.footerlinks {
    color: rgb(95, 99, 104);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#footerL {
    float: left;
    margin-left: 30px;
}

#footerR {
    float: right;
    margin-right: 30px;
}

#footerL a {
    padding-left: 27px;
}

#footerR a {
    padding-right: 27px;
}

.footerlinks:hover {
    text-decoration: underline;
}

a:visited {
    color: #660099;
}
@media (max-width: 584px) {
    .main_form {
        width: 100%;
    }
    .main_input {
        padding: 0 30px;
    }
}
@media (max-width: 425px) {
    .main_input {
        padding: 0 15px;
    }
    .main_hero img {
        width: 220px;
    }
}